body {
  overflow-x: hidden;
  background-color: #364150;
}
ul, li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
label {
  width: 100%;
  margin: 0;
}

/*导航栏*/

.nav-bar {
  position: fixed;
  z-index: 1;
  background-color: #2B3643;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
}

/*主页面（包含侧边栏）*/

.admin-index-mian {
  margin-top: 45px;
}

/*顶部logo*/

.admin-logo {
  margin-left: 30px;
  margin-top: 10px;
  height: 25px;
}

/*导航栏右侧的提醒*/

.admin-notice-work {
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}

/*提醒的数量*/

.admin-notice-work-number {
  width: 20px;
  height: 20px;
  margin-top: -5px;
  border-radius: 10px;
  float: left;
  margin-left: -30px;
  color: #fff;
  background-color: #1CAF9A;
}

/*提醒的图标*/

.admin-logo-notice-work {
  float: left;
  height: 25px;
}

/*用户的照片*/

.admin-user-photo {
  height: 25px;
  border-radius: 12px;
}

/*包含用户照片的div*/

.admin-user-photo-div {
  float: left;
}

/*用户的名字*/

.admin-name {
  color: #B4BCC8;
  float: left;
  margin-left: 7px;
  height: 25px;
  line-height: 25px;
}

/*那个向下的箭头*/

.admin-name-addstion {
  float: left;
  width: 10px;
  margin-left: 3px;
  margin-top: 4px;
}

/*导航用户部分（包含头像和名字）*/

.admin-user-options {
  margin-bottom: -10px;
  padding: 10px;
  float: left;
  background-color: #232C37;
  margin-left: 20px;
  cursor: pointer;
}

/*导航栏右侧的所有*/

.col-admin-right {
  float: right;
  margin-right: 30px;
}

/*左侧栏*/

.side-bar {
  width: 15%;
  float: left;
  background-color: #364150;
}

/*侧栏单个主界面元素*/

.admin-side-bar-item {
  width: 100%;
}

/*侧栏入口标题元素*/

.admin-side-bar-main-item {
  padding-left: 40px;
  cursor: pointer;
  color: #fff;
  width: 100%;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  transition: background 0.3s;
}
.admin-side-bar-main-item:hover {
  background: #2B3643;
}

/*隐藏的input*/

.admin-side-bar-option {
  display: none;
}

/*侧边栏子入口*/

.admin-sub-item {
  opacity: 0;
  height: 0;
  background: #1abc9c;
  color: #fff;
  padding-left: 60px;
  line-height: 0;
  cursor: pointer;
  transition: height 0.5s ease, opacity 0.5s ease;
}
.admin-sub-item:hover {
  background: #16a085;
}
.admin-side-bar-option:checked ~ ul .admin-sub-item {
  opacity: 1;
  height: 30px;
  line-height: 30px;
}

/*右边的大部分内容*/

.admin-main-page {
  width: 85%;
  padding: 20px;
  float: left;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-color: #fff;
}
.admin-main-title-content {
  width: 100%;
  float: left;
}
.admin-index-title {
  float: left;
  font-size: 16pt;
  height: 30px;
}
.admin-index-content {
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 6px;
  color: #9D9593;
  margin-left: 10px;
}
.admin-index-path {
  margin-top: 10px;
  clear: both;
  float: left;
  width: 100%;
}

/*左侧最上端搜索框*/

.admin-search-div {
  margin: 40px 20px 20px 20px;
  height: 30px;
}
.admin-search-input {
  color: #9D9593;
  background-color: #364150;
  height: 30px;
  border: none;
  width: 120px;
  border-bottom: 1px solid #435060;
  outline: none;
  float: left;
}
.search-icon-div {
  float: left;
  height: 30px;
  border-bottom: 1px solid #435060;
}
.search-cion {
  margin-top: 5px;
  height: 20px;
}

/*四个数据总览*/

.admin-index-count-count {
  float: left;
  height: 125px;
  width: 22%;
  background-color: #578EBE;
}
#count1 {
  margin-left: 4%;
  background-color: #E35B5A;
}
#count2 {
  margin-left: 4%;
  background-color: #44B6AE;
}
#count3 {
  margin-left: 4%;
  background-color: #8775A7;
}
.admin-index-count-count-main {
  height: 100px;
  width: 100%;
  color: #fff;
}
.admin-index-count-count-main-count {
  text-align: right;
  padding-top: 20px;
  font-size: 26pt;
  width: 90%;
}
.admin-index-count-count-main-desc {
  text-align: right;
  width: 90%;
}
.admin-index-count-count-more {
  height: 25px;
  width: 100%;
  padding-left: 2%;
  color: #CADCEB;
  background-color: #4C87B9;
  cursor: pointer;
}
.admin-index-count-count-more-left {
  float: left;
  line-height: 25px;
  margin-left: 10px;
  height: 25px;
}
.admin-index-count-count-more-right {
  float: right;
  height: 20px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.admin-index-count-count-more-right-pic {
  height: 20px;
}
#count1more {
  background-color: #E14E4E;
}
#count2more {
  background-color: #3FABA4;
}
#count3more {
  background-color: #7F6CA1;
}
.week-counts {
  margin-top: 50px;
  float: left;
  height: 400px;
  width: 50%;
}
.recent-activities {
  float: left;
  padding: 20px;
  width: 48%;
  height: 400px;
  border: 1px solid #E1E1E1;
}
.activity-div {
  height: 320px;
  overflow-y: auto;
}
#tasks {
  margin-left: 4%;
  background-color: #F7F7F7;
}
.message-chat {
  margin-top: 50px;
  float: left;
  padding: 20px;
  width: 48%;
  height: 400px;
  border: 1px solid #E1E1E1;
}
#chat {
  margin-left: 4%;
}
.activity-icon-div {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  color: #1CAF9A;
  margin-bottom: 10px;
}
.activity-icon {
  margin-right: 10px;
  height: 20px;
}
.activity-li {
  background-color: #FAFAFA;
  line-height: 25px;
  margin-top: 5px;
  color: #8297B2;
}
.activity-pic {
  background-color: #89C4F4;
  width: 25px;
  padding: 5px;
  height: 25px;
  margin-right: 10px;
}
.task-checkbox {
  width: 20px;
  background-color: red;
  height: 20px;
  margin-right: 15px;
  margin-top: 5px;
  float: left;
  background-color: #fff;
  border: 1px solid #eaeaea;
}
.task-check {
  margin-top: -8px;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
.message-li{
  float: left;
  margin-top: 10px;
}
.user-photo{
  width: 40px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 20px;
}
.message-content-pic{
  float: left;
  width: 85%;
  margin-left: 10px;
  /*background-color: #eaeaea;*/
  background-color: #FAFAFA;
}
.left-message{
  height: 100%;
  float: left;
}
.message-content{
  padding-top: 5px;
  float: left;
  padding-left: 10px;
  width: 95%;
  border-left: 2px solid #1BBC9B;
}
.message-name{
  color: #5993C1;
  float: left;
}
.message-time{
  float: left;
  margin-left: 10px;
}
.right-message{
  font-size: 9pt;
  float: left;
}
.activity-more{
  cursor: pointer;
  float: right;
  margin-right: 10px;
}
.activity-more-pic{
  width: 18px;
}
