.pagePage {
  width: 100%;
  padding-bottom: 5%;
  float: left;
  background-color: #F8F8F8;
}
.pageMainContent {
  float: left;
  width: 70%;
  margin-left: 15%;
  background: #fff;
  padding: 2% 5% 5% 5%;
}
.formTime {
  margin-top: 20px;
  margin-left: 10px;
}
.comeFrom {
  float: left;
  color: #7696B3;
  cursor: pointer;
  font-size: 13pt;
}
.comeTime {
  float: left;
  color: #9E9EB6;
  font-size: 13pt;
  margin-left: 20px;
}
.pageContent {
  float: left;
  clear: both;
  font-size: 13pt;
  margin-top: 20px;
}
.pageContent img {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pageTags {
  float: left;
  margin-top: 20px;
  color: #9E9E9E;
  display: none;
  /*font-size: 13pt;*/
}
.tagTip {
  float: left;
  height: 35px;
  line-height: 35px;
}
.pageTag {
  cursor: pointer;
  float: left;
  margin-left: 10px;
  font-size: 13pt;
  height: 35px;
  border: 1px solid #EFEFEF;
  background-color: #FAFAFA;
  padding: 5px 15px;
  color: #4F5157;
}
.pageTools{
  margin-top: 20px;
  float: right;
  display: none;
}
.pageColloect{
  margin-right: 30px;
  height: 35px;
}
.colloectIcon{
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
}
.pageClass{
  margin-top: 30px;
  float: left;
  width: 100%;
  padding: 5% 3%;
  border: 1px solid #EFEFEF;
  background-color: #FAFAFA;
}
.classImg{
  width: 80px;
  border-radius: 40px;
}
.classImgDiv{
  float: left;
}
.classDesc{
  width: 60%;
  float: left;
  margin-left: 20px;
}
.classTitle{
  color: #FF9B02;
  margin-top: -20px;
  cursor: pointer;
}
.classContent{
  width: 100%;
}

/*订阅和取消订阅按钮样式*/
.subscribe{
  cursor: pointer;
  margin-top: 30px;
  margin-right: 20px;
  float: right;
  border: 1px solid #FF9B02;
  color: #FF9B02;
  padding: 10px 25px;
  border-radius: 15px;
}
.pleaselogin{
  cursor: pointer;
  margin-top: 30px;
  margin-right: 20px;
  float: right;
  border: 1px solid #FF9B02;
  color: #FF9B02;
  padding: 10px 25px;
  border-radius: 15px;
}



.pageComments{
  margin-top: 30px;
  padding-left: 3%;
  padding-right: 3%;
  float: left;
  width: 100%;
}
.comentTip{
  float: left;
  font-size: 16pt;
}
.pageComentNumber{
  float: right;
  color: #9E9EB6;
}
.userPhotoDiv{
  margin-top: 20px;
  float: left;
  clear: left;
}
.userPhoto{
  width: 50px;
  border-radius: 15px;
}
.commentsTextarea{
  float: left;
  width: 90%;
  margin-top: 20px;
  margin-left: 20px;
}
.commentsText{
  width: 100%;
  height: 150px;
  resize: none;
  outline: none;
  border: 1px solid #EFEFEF;
  border-top-left-radius: 10px;
  padding: 10px;
  border-top-right-radius: 10px;
}
.textareaTools{
  margin-top: -10px;
  float: right;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 50px;
  padding-left: 20px;
}
.commentsShare{
  cursor: pointer;
  width: 20px;
  margin-left: 5px;
}
.sendComment{
  float: right;
  margin-right: 20px;
  height: 30px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  margin-top: 12px;
  color: #fff;
  background-color: #CDCDCD;
  border-radius: 5px;
}
.sendCommentLogin{
  float: right;
  margin-right: 20px;
  height: 30px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  margin-top: 12px;
  color: #fff;
  background-color: #CDCDCD;
  border-radius: 5px;
}
.commentUserPhoto{
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  float: left;
}
.singleComment{
  width: 90%;
  margin-top: 30px;
  float: left;
}
.commentRelateUC{
  width:90%;
  font-size: 13pt;
  float: left;
  padding-left: 15px;
}
.commentUserName{
  color: #FE9B02;
  cursor: pointer;
  /*margin-left: 20px;*/
}
.commentUserContent{
  color: #5D5D5D;
}
.commentTimePri{
  float: left;
  clear: both;
  margin-left: 65px;
  margin-top: 15px;
  color: #AA9EB6;
  width: 100%;
  border-bottom: 1px dotted #eaeaea;
  padding-bottom: 5px;
}
.commentTime{
  width: 50%;
  float: left;
}
.commentPri{
  float: right;
  /*margin-right: 50px;*/
}
.commentzan{
  width: 20px;
  margin-top: -5px;
  cursor: pointer;
}
.pleaseLogin{
  width: 20px;
  cursor: pointer;
  margin-top: -5px;
}
.getCount{
  float: right;
}

.commentTip{
  float: right;
  color: red;
  margin-right: 10px;
}