<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	<property name="connection.driver_class">
		net.sourceforge.jtds.jdbc.Driver
	</property>
	<property name="connection.url">
		jdbc:jtds:sqlserver://127.0.0.1:54042/test
	</property>
	<property name="connection.username">sa</property>
	<property name="connection.password">123456</property>
	<property name="dialect">
		org.hibernate.dialect.SQLServer2005Dialect
	</property>
	<!--<property name="show_sql">true</property>-->
	<!--<property name="format_sql">true</property>-->

	<!--实际用的-->
	<mapping class="domain.MyUser" />
	<mapping class="admindomain.MyAdmin" />
	<mapping class="domain.UserInformation" />
	<mapping class="domain.MySubscribe" />
	<mapping class="domain.MyClassification" />
	<mapping class="domain.MyArticle" />
	<mapping class="domain.MyComment" />
	<mapping class="domain.ArticleLike" />
	<mapping class="domain.MyCollocation" />
	<mapping class="domain.ArticleDisLike" />
	<mapping class="domain.CommentLike" />
	<mapping class="domain.MyFollow" />
	<mapping class="domain.Media" />

	<mapping class="admindomain.LoginCount" />
	<mapping class="admindomain.RegisterCount" />
	<mapping class="admindomain.ReadCount" />
	<mapping class="admindomain.RequestCount" />
	<mapping class="admindomain.CommentCount" />
</session-factory>
</hibernate-configuration>